@import "styles/vars.module";

.input {
  outline: none;
  border: 1px solid $light_gray_color;
  border-radius: 7px;
  background: none;
  color: $text-color;

  transition: color $default-transition-duration, border-color $default-transition-duration;

  padding: 1.15em 1.33em;

  ::-webkit-input-placeholder, ::-moz-placeholder{color: $light_gray_color}

  @include hover{border-color: $text-color;}
  @include active{border-color: $text-color;}
  @include input-focus {border-color: $text-color;}

  &::placeholder {
    color: $text-color;
    opacity: 0.5;

    transition: color 400ms;
  }

  &.error {
    border-color: $danger;
    color: $danger;

    &::placeholder {
      color: $danger;
    }
  }
}
