$medium: 1024px;
$small: 500px;

$accent: #00ff00;
$text-color: #000000;
$text-light-color: #FFFFFF;
$text-secondary: #000000;
$light-gray-color: #DDDDDD;

$danger: #ff0000;

$active-light-color: #f4f4f4;

$text-color-hover: lighten($text-color, 30);
$text-light-color-hover: darken($text-light-color, 10);

$default-transition-duration: 0.23s;

$navbar-padding: 22px;
$navbar-height: $navbar-padding * 2 + 46px;

@mixin medium-media {
  @media only screen and (max-width: $medium) {
    @content;
  }
}
@mixin small-media {
  @media only screen and (max-width: $small) {
    @content;
  }
}
@mixin max-width-media($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}


@mixin hover {
  @media(hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
}
@mixin focus {
  &:focus-visible {
    outline: 3px auto $accent;
    @content;
  }
}

@mixin input-focus {
  border: 1px solid $accent;
  outline: none;
  @content
}

@mixin active{
  &:active{
    @media (pointer: fine) {
      @content
    }
  }
}

:export {
  medium: $medium;
  small: $small;
}
